@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --border-color: #e8e8e8;
}

.navbar {
  display: flex;
  margin: 0;
  padding: 1.813rem 8%;
  font-family: 'Montserrat', Helvetica, sans-serif;
  border-bottom: 2px solid var(--border-color);
}

head h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.875rem;
}

.head-link,
.link {
  text-decoration: none;
  color: #121212;
}

.head-link {
  font-weight: bold;
  font-size: 1.875rem;
  color: #008cf7;
}

.link {
  font-size: 0.813rem;
}

.cat {
  opacity: 0.5;
}

.list-nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 0 0 2.938rem;
  padding: 0;
}

.list-nav li {
  margin-right: 2.938rem;
  letter-spacing: 1.9px;
}
